# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal

    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version: 20.x

    - name: Install npm test dependencies
      working-directory: tests/npm/apiconvert-core-tests
      run: npm install

    - name: Run npm tests
      working-directory: tests/npm/apiconvert-core-tests
      run: npm test
