name: Publish npm Package

on:
  push:
    branches:
      - main

permissions:
  id-token: write  # Required for OIDC
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20.x

      - name: Install npm test dependencies
        working-directory: tests/npm/apiconvert-core-tests
        run: npm install

      - name: Run npm tests
        working-directory: tests/npm/apiconvert-core-tests
        run: npm test

  publish:
    needs: test
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: src/apiconvert-core
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'
      - run: npm ci
      - run: npm run build --if-present
      - run: npm test
      - run: npm publish
